@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, datagrid, datalist, details, dialog, figure, footer, header, menu, nav, section, video, abbr, eventsource, mark, meter, time, progress, output, bb { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; outline: 0; background: transparent no-repeat top left; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }

a, ins { text-decoration: none; }

article, aside, audio, canvas, datagrid, details, dialog, figure, figcaption, footer, header, hgroup, menu, main, nav, section, video { display: block; }

abbr, eventsource, mark, meter, time, progress, output, bb { display: inline; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul { list-style: none; }

input, button, select { vertical-align: middle; }

input[type="radio"], input[type="checkbox"] { margin: 0; vertical-align: text-bottom; }

textarea { resize: vertical; }

input:focus { outline: 0; }

input:-webkit-autofill { background-color: #ccc !important; }

input[type="number"], input[type="search"] { -webkit-appearance: textfield !important; -moz-appearance: textfield !important; appearance: textfield !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; width: 0; height: 0; }

input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator { display: none; }

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { margin: 0; padding: 0; border: 0; }

input[type="submit"], input[type="image"], button { cursor: pointer; }

iframe, img, object, video { max-width: 100%; border: 0; }

img { height: auto; }

.gm-style img, .gmnoprint img { max-width: none; }

img, input[type=image] { vertical-align: bottom; }

p img { vertical-align: baseline; }

[hidden] { display: none; }

html { min-height: 100%; background: #fff; }

body { position: relative; min-height: 100%; font: 62.5%/1 sans-serif; color: #212121; background: inherit; -webkit-text-size-adjust: none; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { display: block; margin-bottom: 5px; font-weight: bold; line-height: 1.3; }

h1, .h1 { margin-bottom: 10px; font-size: 25px; }

h2, .h2 { margin-bottom: 7px; font-size: 20px; }

h3, .h3 { font-size: 15px; }

h4, .h4 { font-size: 13px; }

h5, .h5 { font-size: 12px; }

h6, .h6 { font-size: 11px; }

p, dl, li { font-size: 13px; line-height: 1.4; }

p { margin-bottom: 18px; }

blockquote p:last-child, p:last-child { margin-bottom: 0; }

del { text-decoration: line-through; }

ins { border-bottom: 1px dotted #DDD; }

mark { background-color: #FF9; }

i, em { font-style: italic; }

b, strong { font-weight: bold; }

sub, sup { position: relative; margin: 0 1px; font-size: 80%; line-height: 0; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

small { font-size: 80%; }

abbr[title], acronym[title] { text-decoration: underline dotted; cursor: help; }

blockquote { display: block; padding: 5px 0 5px 10px; border-color: rgba(0, 0, 0, 0.1); border-left: 5px solid #DDD; font-size: 12px; }

blockquote p { margin-bottom: 4px; }

hr { clear: both; border: 0; border-top: 1px solid #aaa; border-bottom: 1px solid #f0f0f0; }

.cssc-content:after, .cssc-grid:before, .cssc-grid:after, .clearfix:after, .subfloat:after { content: " "; display: block; visibility: hidden; clear: both; max-height: 0; overflow: hidden; }

hr[class*="clearfix"] { height: 0; border: 0; outline: 0; background: transparent; }

::-moz-selection { color: #000; background: rgba(51, 102, 153, 0.3); }

::selection { color: #000; background: rgba(51, 102, 153, 0.3); }

a { color: #69C; }
a:focus, a:hover { color: #369; }
a:active { color: #000; }
a:focus:not(:hover) { outline: 1px dotted rgba(0, 0, 0, 0.3); outline-offset: 2px; }
a:focus:not(:focus-visible) { outline: none; }

.aimginv { opacity: 0.70; }

a img, .aimginv:hover, .aimg { opacity: 0.999; }

.aimg:hover, a:hover img { opacity: 0.80; }

.trans-col { -webkit-transition: color 0.3s ease; transition: color 0.3s ease; }

a img, .aimg, .aimginv, .cssc-btn, .trans-opa { outline: 1px solid transparent; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }

.trans-all { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

a, input, button, textarea, .cssc-button, .trans-button { -webkit-transition: border-color 0.3s ease,background 0.3s ease,color 0.3s ease; transition: border-color 0.3s ease,background 0.3s ease,color 0.3s ease; }

@​media (prefers-reduced-motion:reduce) { * { transition: none !important; } }
script { display: none !important; }

i i, em em { font-style: normal; }

b b, strong strong { font-weight: normal; }

.cssc-oneline { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; }

.cssc-remove-element-children > *, .cssc-remove-element { z-index: 0; position: absolute; top: -9999px; left: -9999px; font-size: 1px; color: transparent; opacity: 0.001; }

.subfloat { position: relative; }

.subfloat > * { float: left; }

.sf_100_20 { margin-right: -20px; }

.sf_100_20 > * { width: 100px; margin: 0 20px 20px 0; }

.cssc-panel { z-index: 1; position: relative; overflow: hidden; }

.cssc-panel--default { padding: 10px; border: 1px solid #e0e0e0; background-color: #f0f0f0; }

.cssc-content { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 61em; font-size: 13px; line-height: 1.3; }

.cssc-content:after { content: ''; display: table; clear: both; }

.cssc-content blockquote, .cssc-content p, .cssc-content ul, .cssc-content li { font: inherit; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; word-wrap: break-word; }

.cssc-content h2, .cssc-content h3, .cssc-content h4 { margin-bottom: 0.5em; font: inherit; font-size: 1.1em; font-weight: bold; }
.cssc-content h2 { font-size: 1.8em; }
.cssc-content h3 { font-size: 1.4em; }
.cssc-content * + h2, .cssc-content *:not(h2):not(h4) + h3, .cssc-content *:not(h2):not(h3) + h4 { margin-top: 1em; }

.cssc-content ul { list-style: inside disc; }
.cssc-content ul ul { list-style-type: circle; }
.cssc-content ol { list-style: inside decimal; }

.cssc-content dd + dt { margin-top: 0.5em; }
.cssc-content dt { font-weight: bold; }

.cssc-content > video, .cssc-content > iframe { width: 100%; }
.cssc-content .alignleft { float: left; margin: 0 1em 0.5em 0; }
.cssc-content .aligncenter { display: block; margin-right: auto; margin-left: auto; }
.cssc-content .alignright { float: right; margin: 0 0 0.5em 1em; }

.cssc-content ul ul, .cssc-content ol ol { margin-bottom: 0; padding-left: 1em; }
.cssc-content blockquote p { margin-bottom: 0.5em; }

.cssc-content p, .cssc-content blockquote, .cssc-content table, .cssc-content address, .cssc-content > iframe, .cssc-content > video, .cssc-content dl, .cssc-content ol, .cssc-content ul, .cssc-content, .cssc-block { margin-bottom: 1.3em; }

.cssc-content dl:last-child, .cssc-content ol:last-child, .cssc-content ul:last-child, .cssc-content blockquote:last-child, .cssc-content blockquote p:last-child, .cssc-content p:last-child, .cssc-block:last-child { margin-bottom: 0; }

.buttonreset, .cssc-button { display: inline-block; z-index: 1; position: relative; -webkit-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; border: 0; border-radius: 0; text-align: center; text-decoration: none; font: inherit; white-space: nowrap; vertical-align: inherit; background: transparent; -webkit-background-clip: padding-box; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-user-drag: none; -moz-user-drag: -moz-none; user-drag: none; }
.buttonreset::-moz-focus-inner, .cssc-button::-moz-focus-inner { padding: 0; border: 0; }
.buttonreset:hover, .buttonreset:focus, .cssc-button:hover, .cssc-button:focus { text-decoration: none; outline: 0; }
.buttonreset[disabled], .cssc-button[disabled] { cursor: default; }

.cssc-button { padding: 0 1.5em; font-family: sans-serif; font-style: normal; font-weight: normal; line-height: 2.5; vertical-align: middle; background: #fff; }

.cssc-button:before, .cssc-button:after { vertical-align: 0; }
.cssc-button:before { margin-right: 0.5em; }
.cssc-button:after { margin-left: 0.5em; }

.cssc-button-icn-large:before, .cssc-button-icn-large:after { font-size: 1.15em; }

.cssc-button--wide { display: block; width: 100%; }

.cssc-button--default { height: 25px; padding: 0 8px; border: 1px solid #ccc; border-radius: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); font: 12px/25px sans-serif; color: #333; background: #e0e0e0 no-repeat 0 0; background-image: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.1) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1))); background-image: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.1) 100%); background-image: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.1) 100%); background-image: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.1) 100%); background-image: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.1) 100%); }

.cssc-button--default:focus, .cssc-button--default:hover { border-color: #bbb; color: #000; background-position: 0 12px; }

.cssc-button--default:active { border-color: #888; background-position: 0 25px; }

.cssc-button--default[disabled], .cssc-button--default[disabled]:focus, .cssc-button--default[disabled]:hover, .cssc-button--default[disabled]:active { border: 1px solid #ccc; color: #333; opacity: 0.66; background: #e0e0e0; }

.cssc-button--small { height: 20px; padding: 0 5px; font-size: 11px; line-height: 20px; }

.cssc-button--medium { height: 30px; padding: 0 10px; font-size: 13px; line-height: 30px; }

.cssc-button--big { height: 35px; padding: 0 15px; font-size: 14px; line-height: 35px; }

.error-button, .success-button { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); color: #fff; }

.error-button:hover, .error-button:focus, .success-button:focus, .success-button:hover { color: #fff; }

.error-button { border-color: #f55; background-color: #f66; }

.success-button { border-color: #1a1; background-color: #0a0; }

.round-button { border-radius: 99px; }

.btn-phone:before { content: '☎'; }

.btn-eject:before { content: '⏏'; }

.btn-download:before { content: '⬇'; }

.btn-play:before { content: '▶'; }

.btn-go:after { content: '▶'; }

.btn-img:before { content: url(../images/12x10-blue.gif); }

.cssc-button--default.cssc-button-double { padding: 10px 40px; }

.cssc-button--default.cssc-button-double > strong { font-size: 20px; line-height: 25px; }

.cssc-button--default.cssc-button-double > span { font-size: 12px; line-height: 16px; color: #676767; }

.cssc-form { clear: both; }

.cssc-form:after, .form-append:after, .cssc-form .twoboxes:after, .cssc-form .box:after { content: " "; display: block; visibility: hidden; clear: both; height: 0; }

.cssc-form .box { z-index: 1; position: relative; vertical-align: baseline; }

.cssc-form .submit-box { z-index: 1; position: relative; }

.cssc-form .submit-box button { z-index: 1; position: absolute; top: 0; right: 0; }

.cssc-form .twoboxes .box { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; }

.cssc-form .twoboxes .box:first-child { padding-right: 10px; }

.cssc-form .twoboxes .box + .box { padding-left: 10px; }

.cssc-form .fake-label, .cssc-form label { display: block; line-height: inherit; }

.float-form .fake-label, .float-form label { position: absolute; top: 0; left: 0; }

.cssc-form .radio-box label, .cssc-form.block-form .radio-box label, .cssc-form.float-form .radio-box label, .cssc-form .checked-box label, .cssc-form.block-form .checked-box label, .cssc-form.float-form .checked-box label { display: inline-block; position: static; width: auto; padding: 0; font-weight: normal; line-height: inherit; vertical-align: baseline; }

textarea { max-width: 100%; overflow: auto; resize: vertical; }

input[type="submit"], input[type="image"], button { cursor: pointer; }

.cssc-form input[type="radio"], .cssc-form input[type="checkbox"] { vertical-align: 0; }

.inputreset, .inputbase, .cssc-form textarea, .cssc-form .fake-input, .cssc-form input[type="text"], .cssc-form input[type="url"], .cssc-form input[type="email"], .cssc-form input[type="search"], .cssc-form input[type="password"] { -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 0; border: 0; border-radius: 0; font-family: inherit; vertical-align: middle; outline: 0; }

.cssc-form .fake-input { display: inline-block; zoom: 1; *display: inline; }

.cssc-form .fake-input, .cssc-form [disabled] { cursor: not-allowed; }

.cssc-select { display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; border: none; border-radius: 0; overflow: hidden; text-align: left; text-indent: 0.01px; text-overflow: ellipsis; font: inherit; line-height: 1; white-space: nowrap; color: inherit; background: transparent; cursor: pointer; -ms-appearance: none; }

.cssc-select[multiple] { overflow-y: auto; }

.cssc-select::-ms-expand { display: none; }

.cssc-select:focus { outline: none; }

.cssc-form small { display: block; }

.cssc-form.block-form .side-small { z-index: 1; position: absolute; top: 0; right: 0; }

.cssc-form .box.has-autocomplete { z-index: 2; }

.cssc-form .box-autocomplete { z-index: 1; position: absolute; top: 100%; right: 0; left: 0; margin-top: 1px; background-color: #fff; }

.form-append { min-height: 1px; }

.form-append:after { content: ''; display: table; clear: both; width: 100%; }

.form-append > * { float: left; width: auto; }

@media (max-width: 720px) { .float-form.cssc-form--responsive .box { padding-left: 0 !important; }
  .float-form.cssc-form--responsive .fake-label, .float-form.cssc-form--responsive .box:not(.checked-box):not(.radio-box) label { display: block; position: static; width: auto !important; padding-right: 0 !important; text-align: left; }
  .float-form.cssc-form--responsive .box .long-label { line-height: inherit !important; } }
@media (max-width: 720px) { .cssc-form.cssc-form--responsive .twoboxes .box { display: block; float: none; width: auto; padding-right: 0 !important; padding-left: 0 !important; } }
.fake-checkbox, .fake-radio { display: inline-block; z-index: 1; position: relative; width: 1em; height: 1em; overflow: hidden; text-align: center; font-size: 16px; line-height: 1; vertical-align: -3px; background-color: #CCC; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.fake-checkbox input, .fake-radio input { z-index: 1; position: absolute; top: -0.5em; left: -0.5em; font-size: 2em; opacity: 0.01; -webkit-transform: scale(10); -moz-transform: scale(10); transform: scale(10); cursor: pointer; }

.fake-checkbox span, .fake-radio span { z-index: 0; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; opacity: 0; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-transform: translateZ(0); transform: translateZ(0); }

.fake-radio input:checked + span, .fake-checkbox input:checked + span { opacity: 0.9999; }

.fake-checkbox span:before { content: '✓'; font-size: 0.8em; color: #333; }

.fake-radio, .fake-radio span { border-radius: 99px; }

.fake-radio span { border: 5px solid #CCC; background-color: #333; }

@media (min-width: 1025px) { .main-menu__wrapper { z-index: 1; position: relative; }
  .main-menu { z-index: 1; position: relative; }
  .main-menu > .menu-item { display: inline-block; }
  .main-menu > .menu-item > .sub-menu { visibility: hidden; z-index: 1; position: absolute; top: 100%; left: 0; width: 100%; opacity: 0; background-color: #fff; }
  .main-menu > .menu-item.is-active > .sub-menu, .main-menu > .menu-item:hover > .sub-menu { display: block; visibility: visible; opacity: 0.999; } }
@media (max-width: 1024px) { .main-menu__wrapper { visibility: hidden; z-index: 10; position: fixed; top: 0; right: 0; bottom: 0; left: 0; margin: auto; opacity: 0; background-color: #fff; -webkit-transition: opacity 0.3s ease,visibility 0.3s ease; transition: opacity 0.3s ease,visibility 0.3s ease; pointer-events: none; }
  .has--opened-main-menu .main-menu__wrapper { visibility: visible; opacity: 0.999; pointer-events: initial; }
  .main-menu { padding: 20px; }
  .main-menu > .menu-item { z-index: 1; position: relative; }
  .main-menu > .menu-item > .sub-menu { display: none; }
  .main-menu > .menu-item.is-active > .sub-menu { display: block; } }
.cssc-table { width: 100%; margin-bottom: 20px; }

.cssc-table, .cssc-table tr, .cssc-table td, .cssc-table th { border-collapse: collapse; vertical-align: middle; }

.cssc-table--default td, .cssc-table--default th { padding: 10px; font-size: 12px; line-height: 1.3; }

.cssc-table--default td { text-align: left; }

.cssc-table--default th { text-align: left; font-weight: bold; }

.cssc-table--default tr { border-bottom: 1px solid #e9e9e9; }

.cssc-table--default thead tr { border-bottom: 1px solid #d0d0d0; }

.cssc-table--default tbody tr:last-child { border-bottom: 0; }

.cssc-table--tight th, .cssc-table--tight td { padding: 3px; line-height: 1.2; }

.cssc-table--basic { color: #333; background: #fff; }

.cssc-table--basic, .cssc-table--basic tr, .cssc-table--basic td, .cssc-table--basic th { border: 1px solid #d0d0d0; }

.cssc-table--basic tbody tr, .cssc-table--basic tbody td, .cssc-table--basic tbody th { border: 1px solid #e0e0e0; }

.cssc-table--basic tr:hover { color: #000; background: #fafafa; }

.cssc-table--basic th { background: #f0f0f0; }

.cssc-table--bordered td + td { border-left: 1px solid #e9e9e9; }

.cssc-table--bordered .content { z-index: 1; position: relative; }

.cssc-table--bordered tr + tr td + td .content:before { content: ''; z-index: 1; position: absolute; top: -20px; left: -20px; width: 20px; height: 20px; background-color: #fff; }

.cssc-table--rounded { border: 1px solid #ccc; border-collapse: separate; border-spacing: 0; border-radius: 10px; }

.cssc-table--rounded tbody { background-color: #F5F5F5; }

.cssc-table--rounded tfoot th { background-color: #E0E0E0; }

.cssc-table--rounded thead th { background-color: #E0E0E0; }

.cssc-table--rounded thead:first-child, .cssc-table--rounded thead:first-child tr:first-child { border-radius: 10px 10px 0 0; }

.cssc-table--rounded thead:first-child tr:first-child th:first-child { border-radius: 10px 0 0 0; }

.cssc-table--rounded thead:first-child tr:first-child th:last-child { border-radius: 0 10px 0 0; }

.cssc-table--rounded thead + tbody ~ tbody:last-child, .cssc-table--rounded thead + tbody ~ tbody:last-child tr:last-child, .cssc-table--rounded thead + tbody:last-child, .cssc-table--rounded thead + tbody:last-child tr:last-child, .cssc-table--rounded tfoot, .cssc-table--rounded tfoot tr:last-child { border-radius: 0 0 10px 10px; }

.cssc-table--rounded thead + tbody ~ tbody:last-child tr:last-child td:first-child, .cssc-table--rounded thead + tbody:last-child tr:last-child td:first-child, .cssc-table--rounded tfoot tr:last-child th:first-child { border-radius: 0 0 0 10px; }

.cssc-table--rounded thead + tbody ~ tbody:last-child tr:last-child td:last-child, .cssc-table--rounded thead + tbody:last-child tr:last-child td:last-child, .cssc-table--rounded tfoot tr:last-child th:last-child { border-radius: 0 0 10px 0; }

.cssc-grid { display: block; clear: both; max-width: 100%; }

.cssc-grid:before, .cssc-grid:after { content: " "; display: block; visibility: hidden; clear: both; max-height: 0; overflow: hidden; }

.cssc-grid > * { float: left; min-height: 1px; }

.fluid-grid { z-index: 1; position: relative; width: auto; margin: 0 -22.5px; max-width: none; }
.fluid-grid > * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 22.5px; margin-bottom: 45px; }

.fluid-grid--0 { margin: 0; }

.fluid-grid--0 > * { padding: 0; }

.col-8p { width: 8.33%; }

.col-10p { width: 10%; }

.col-16p { width: 16.66%; }

.col-20p { width: 20%; }

.col-25p { width: 25%; }

.col-30p { width: 30%; }

.col-33p { width: 33.333%; }

.col-40p { width: 40%; }

.col-45p { width: 45%; }

.col-50p { width: 50%; }

.col-55p { width: 55%; }

.col-60p { width: 60%; }

.col-66p { width: 66.667%; }

.col-70p { width: 70%; }

.col-75p { width: 75%; }

.col-80p { width: 80%; }

.col-90p { width: 90%; }

.col-100p { width: 100%; }

@media (max-width: 1024px) { .fluid-grid { margin: 0 -15px; }
  .fluid-grid > * { padding: 0 15px; margin-bottom: 30px; }
  .tab--fluid-grid--20 { margin: 0 -20px; }
  .tab--fluid-grid--20 > * { padding: 0 20px; }
  .tab--fluid-grid--10 { margin: 0 -10px; }
  .tab--fluid-grid--10 > * { padding: 0 10px; }
  .tab--col-8p { width: 8.33%; }
  .tab--col-10p { width: 10%; }
  .tab--col-16p { width: 16.66%; }
  .tab--col-20p { width: 20%; }
  .tab--col-25p { width: 25%; }
  .tab--col-30p { width: 30%; }
  .tab--col-33p { width: 33.333%; }
  .tab--col-40p { width: 40%; }
  .tab--col-45p { width: 45%; }
  .tab--col-50p { width: 50%; }
  .tab--col-55p { width: 55%; }
  .tab--col-60p { width: 60%; }
  .tab--col-66p { width: 66.667%; }
  .tab--col-70p { width: 70%; }
  .tab--col-75p { width: 75%; }
  .tab--col-80p { width: 80%; }
  .tab--col-90p { width: 90%; }
  .tab--col-100p { width: 100%; } }
@media (max-width: 767px) { .fluid-grid { margin: 0 -7.5px; }
  .fluid-grid > * { padding: 0 7.5px; margin-bottom: 15px; }
  .tabv--col-8p { width: 8.33%; }
  .tabv--col-10p { width: 10%; }
  .tabv--col-16p { width: 16.66%; }
  .tabv--col-20p { width: 20%; }
  .tabv--col-25p { width: 25%; }
  .tabv--col-30p { width: 30%; }
  .tabv--col-33p { width: 33.333%; }
  .tabv--col-40p { width: 40%; }
  .tabv--col-45p { width: 45%; }
  .tabv--col-50p { width: 50%; }
  .tabv--col-55p { width: 55%; }
  .tabv--col-60p { width: 60%; }
  .tabv--col-66p { width: 66.667%; }
  .tabv--col-70p { width: 70%; }
  .tabv--col-75p { width: 75%; }
  .tabv--col-80p { width: 80%; }
  .tabv--col-90p { width: 90%; }
  .tabv--col-100p { width: 100%; } }
@media (max-width: 500px) { .mob--col-8p { width: 8.33%; }
  .mob--col-10p { width: 10%; }
  .mob--col-16p { width: 16.66%; }
  .mob--col-20p { width: 20%; }
  .mob--col-25p { width: 25%; }
  .mob--col-30p { width: 30%; }
  .mob--col-33p { width: 33.333%; }
  .mob--col-40p { width: 40%; }
  .mob--col-45p { width: 45%; }
  .mob--col-50p { width: 50%; }
  .mob--col-55p { width: 55%; }
  .mob--col-60p { width: 60%; }
  .mob--col-66p { width: 66.667%; }
  .mob--col-70p { width: 70%; }
  .mob--col-75p { width: 75%; }
  .mob--col-80p { width: 80%; }
  .mob--col-90p { width: 90%; }
  .mob--col-100p { width: 100%; } }
.centered-container { z-index: 1; clear: both; position: relative; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; text-align: center; }

.centered-container > * { -moz-box-sizing: border-box; box-sizing: border-box; width: auto; margin-right: auto; margin-left: auto; max-width: 1024px; text-align: left; }

.centered-container .cc-full { width: auto; max-width: none; }

.centered-container .cc-full-bg, .centered-container .cc-full-image { z-index: 1; position: absolute; top: 0; left: 0; width: 100%; height: 100%; max-width: none; background: transparent repeat top center; }

.centered-container .cc-full-image { background-position: center center; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; }

.centered-container .cc-content { z-index: 2; position: relative; }

.lt_ie9 .hidden-on-full, .lt_ie9 .visible-only-tablet, .lt_ie9 .visible-only-phone { display: none; }

@media (min-width: 1025px) { .hidden-on-full, .visible-only-tablet, .visible-only-phone { display: none; } }
@media (max-width: 1024px) and (min-width: 501px) { .hidden-on-tablet, .visible-only-full, .visible-only-phone { display: none; } }
@media (max-width: 500px) { .hidden-on-phone, .visible-only-full, .visible-only-tablet { display: none; } }
[data-inputmode="mouse"] .input-mouse-hidden, [data-inputmode="touch"] .input-touch-hidden, [data-inputmode="touch"] .input-mouse-visible, [data-inputmode="mouse"] .input-touch-visible { display: none; }

.nav-toggle { display: inline-block; z-index: 1; position: relative; font-size: 5px; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }
.nav-toggle span { right: 0; bottom: 0; margin: auto; }
.nav-toggle span:before, .nav-toggle span:after { content: ''; -webkit-transform-origin: center center; -moz-transform-origin: center center; transform-origin: center center; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { z-index: 1; position: absolute; top: 0; left: 0; }

.nav-toggle { width: 6em; height: 5em; color: #000; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.nav-toggle span:before { margin-top: -2em; }
.nav-toggle span:after { margin-top: 2em; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { width: 6em; height: 1em; border-radius: 1px; background-color: currentColor; -webkit-transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; }

[data-bodypanel="has--opened-main-menu"] .nav-toggle span, .has--opened-main-menu .nav-toggle span { height: 1px; background: transparent; }
[data-bodypanel="has--opened-main-menu"] .nav-toggle span:before, .has--opened-main-menu .nav-toggle span:before { margin-top: 0; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); transform: rotate(135deg); }
[data-bodypanel="has--opened-main-menu"] .nav-toggle span:after, .has--opened-main-menu .nav-toggle span:after { margin-top: 0; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); transform: rotate(-135deg); }

.wdrw > a:focus + .submenu, .wdrw:hover .submenu, .wdrw .submenu:hover { visibility: visible; z-index: 999; opacity: 1; }

.wdrw { z-index: 2; position: relative; }
.wdrw:hover { z-index: 1000; }

.wdrw > a { display: block; z-index: 1; position: relative; height: 100%; line-height: inherit; }

.wdrw .submenu { visibility: hidden; z-index: 1; position: absolute; top: 100%; right: auto; left: 0; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1; opacity: 0; background-color: #fff; -webkit-transition: opacity 0.3s ease,visibility 0.3s ease; transition: opacity 0.3s ease,visibility 0.3s ease; -webkit-transform: translateZ(0); transform: translateZ(0); }
.wdrw .submenu-r { right: 0; left: auto; }

.wdrw .submenu:focus-within { visibility: visible; z-index: 999; opacity: 1; }

@media print { body { max-width: 100%; }
  * { float: none; color: #000; }
  a { text-decoration: underline; }
  a:after { content: " (" attr(href) ") "; font-weight: normal; }
  a:not([href]):after, a[href="#"]:after, a[href=""]:after { display: none; }
  .noprint, .no-print, .cssc-mainnav { display: none !important; } }
.vertical-center-content { display: -ms-flexbox; display: flex; flex-direction: column; align-items: center; justify-content: center; box-sizing: border-box; padding-top: 5px; padding-bottom: 5px; text-align: center; -ms-flex-align: center; }
.vertical-center-content:after, .vertical-center-content:before { content: ''; }
.vertical-center-content:before { align-self: flex-start; }
.vertical-center-content:after { align-self: flex-end; }
.vertical-center-content > * { width: 100%; min-height: 0; }

.justify-items { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -ms-box-orient: horizontal; }

.desktop-grid-table { display: table; display: flex; width: 100%; table-layout: fixed; }
.desktop-grid-table > * { display: table-cell; display: flex; flex-basis: 0; flex-direction: column; flex-grow: 1; box-sizing: border-box; vertical-align: top; }
.desktop-grid-table > *:not(:last-child) { padding-right: 22.5px; }
.desktop-grid-table > * + * { padding-left: 22.5px; }

@media (max-width: 1024px) { .desktop-grid-table > *:not(:last-child) { padding-right: 15px; }
  .desktop-grid-table > * + * { padding-left: 15px; } }
@media (max-width: 767px) { .desktop-grid-table, .desktop-grid-table > * { display: block; }
  .desktop-grid-table > * + * { padding-left: 0; }
  .desktop-grid-table > * + * { padding-top: 0; }
  .desktop-grid-table > *:not(:last-child) { margin-bottom: 15px; padding-right: 0; padding-left: 0; } }
.absolute-cover { z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

@media (max-width: 767px) { .hide-on-mobile { display: none !important; } }
@media (min-width: 768px) { .hide-on-desktop { display: none !important; } }
@media (min-width: 1025px) { .hide-above-tablet { display: none !important; } }
@media (max-width: 1024px) { .hide-tablet-below { display: none !important; } }
.centered-container { padding-right: 45px; padding-left: 45px; }

@media (max-width: 1024px) { .centered-container { padding-right: 30px; padding-left: 30px; } }
@media (max-width: 767px) { .centered-container { padding-right: 15px; padding-left: 15px; } }
html, body { font: 13px/1.3 Helvetica, Arial, sans-serif; }

.main-header { z-index: 2; position: relative; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #f0f0f0; }

.header-search { margin-bottom: 10px; }

.header__social a, .header__social li { display: inline-block; line-height: 20px; }

.header__social li { margin-right: 10px; }

@media (min-width: 960px) { .header__social { float: right; }
  .header__social li { margin-right: 0; margin-left: 10px; }
  .header-search { z-index: 1; position: absolute; top: 15px; left: 50%; margin-left: 220px; min-width: 250px; text-align: right; } }
@media (min-width: 1025px) { .nav-toggle, .main-menu .btn-toggle { display: none; } }
@media (max-width: 1024px) { .main-menu > .menu-item { z-index: 1; position: relative; }
  .main-menu > .menu-item .btn-toggle { z-index: 1; position: absolute; top: 0; right: 0; width: 1.5em; height: 1.5em; background-color: #ccc; -webkit-transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; }
  .main-menu > .menu-item.is-active .btn-toggle { -webkit-transform: rotate(90deg); transform: rotate(90deg); } }
.main-container { margin-bottom: 20px; overflow: auto; }

.breadcrumbs { padding-bottom: 10px; font-size: 0; }

.breadcrumbs li { display: inline-block; font-size: 12px; vertical-align: 0; }

.breadcrumbs li + li:before { content: '›'; margin: 0 5px; }

article .cssc-content { min-height: 1px; overflow: hidden; }

.wp-caption { margin-bottom: 10px; max-width: 100%; }

.main-pagination { margin: 20px 0; text-align: center; }

.main-footer { padding: 20px; border-top: 1px solid #f0f0f0; color: #aaa; }

.main-footer--credits { float: right; }

@media (max-width: 600px) { .main-footer--credits { display: block; float: none; } }
.banner .wdrw .submenu { padding: 1em; border: 1px solid; background-color: #fff; }

.lp-metas { margin-bottom: 10px; color: #999; }

.loop-small + .loop-small { margin-top: 10px; padding-top: 10px; border-top: 1px dotted #f0f0f0; }

.lpsm-metas { margin-bottom: 7px; font-size: 11px; color: #999; }

.loop-small-thumbnail-img { width: 100px; height: auto; }

.main-sidebar--widgets, .main-sidebar--widgets .widget { max-width: 100%; overflow: auto; }

.main-sidebar .widget + .widget { margin-top: 8px; padding-top: 8px; border-top: 1px dotted #e0e0e0; }

.main-sidebar .widget h3 { letter-spacing: 1px; }

.gallery-list a { display: block; position: relative; width: 150px; height: 150px; overflow: hidden; }

.gallery-list strong { z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 5px; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); font-size: 12px; font-weight: normal; line-height: 18px; color: #fff; opacity: 0.0; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0, transparent 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent)); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0, transparent 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0, transparent 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0, transparent 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0, transparent 100%); filter: alpha(opacity=0); }

.gallery-list a:hover strong { opacity: 0.99; filter: alpha(opacity=99); }

.archive-years--year { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dashed #e0e0e0; }

.archive-years--title a { color: #333; }

.archive-months { display: block; overflow: hidden; }

.archive-months li { float: left; width: 25%; }

.archive-months .current { font-weight: bold; }

.faq-element__title { cursor: pointer; }

.faq-element__title:after { content: '[-]'; margin-left: 3px; }

.faq-element__content { max-height: 1000px; overflow: auto; opacity: 0.99; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; filter: alpha(opacity=99); }

.faq-element.is-hidden .faq-element__title:after { content: '[+]'; }

.faq-element.is-hidden .faq-element__content { max-height: 0; opacity: 0.0; filter: alpha(opacity=0); }

.comment-form label { display: block; }

.comments-list > .comment { margin: 1em 0; padding-top: 1em; }
.comments-list > .comment + .comment { border-top: 1px solid #F0F0F0; }
.comments-list .comment.bypostauthor { padding: 1em; background-color: #F0F0F0; }

footer.comment-meta { z-index: 1; position: relative; margin-bottom: 10px; padding-left: 42px; min-height: 32px; }
footer.comment-meta .avatar { z-index: 1; position: absolute; top: 0; left: 0; }
