@charset "UTF-8";

/* ----------------------------------------------------------
  WordPress classes
---------------------------------------------------------- */

.screen-reader-text {
    z-index: 1;
    position: absolute!important;
    top: -1999px;
    left: -5999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

.sticky {
}

.wp-caption-text {
}

.gallery-caption {
}

.bypostauthor {
}