@charset "UTF-8";

/* ----------------------------------------------------------
  WordPress classes
---------------------------------------------------------- */

.screen-reader-text {
    z-index: 1;
    position: absolute!important;
    top: -1999px;
    left: -5999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

.screen-reader-text:focus {
    display: block;
    z-index: 100000;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    border-radius: 3px;
    clip: auto !important;
    text-decoration: none;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: normal;
    color: #21759b;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
}

.sticky {
}

.wp-caption-text {
}

.gallery-caption {
}

.bypostauthor {
}

/* Content
-------------------------- */

.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

.aligncenter {
    display: block;
    margin: 0 auto 1em;
    text-align: center;
}

.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

.alignnone {
    display: block;
    float: none;
    margin: 0 0 1em 0;
}

.size-full {
    float: none;
    clear: both;
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
}

/* Floats
-------------------------- */

.hentry:after {
    content: '';
    display: block;
    clear: both;
    height: 1px;
}
