@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

$content_width_wide: 1024px;
$content_width: 0px;

/* Fonts
-------------------------- */

$font-main: Helvetica, Arial, sans-serif;
$font-second: Times, serif;
$font-size: 13px;
$line-height: 1.3;
$line-height-em: 1.3em;
$letter-spacing-base: 0em;
$letter-spacing-title: 0.05em;

/* Margins
-------------------------- */

$mobile-padding: 15px;
$mobile-padding-neg: -15px;
$tablet-padding: 30px;
$tablet-padding-neg: -30px;
$desktop-padding: 45px;
$desktop-padding-neg: -45px;
$border-radius: 3px;

/* Basic colors
-------------------------- */

$color-main: #002C1C;
$color-hl: #A69561;
$color-hl-dark: #85774C;
$color-border: #DADADA;
$color-bg: #F8F8F6;

/* Social colors */
@import "csscommon/components/vars/colors";

/* Breakpoints
-------------------------- */

$tablet-max: 1024px;

@import "csscommon/components/vars/breakpoints";
@import "csscommon/components/vars/mediaqueries";

/* Custom breakpoints */
$has_mobile_menu: $desktop_excluded;
$has_desktop_menu: $desktop_only;

/* Compass values
-------------------------- */

$critical-usage-threshold: 2;
$graceful-usage-threshold: 2;

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */

@import "csscommon/components/default";
@import "csscommon/components/common";

/* Modules
-------------------------- */

/* Content */

@import "csscommon/components/content/text";

/* Buttons */

@import "csscommon/components/buttons/core";
@import "csscommon/components/buttons/theme";

/* Forms */

@import "csscommon/components/forms/core";
@import "csscommon/components/forms/fake-check";
@import "csscommon/components/forms/fake-check-ghost";

/* Various */

@import "csscommon/components/tables";
@import "csscommon/components/grid";
@import "csscommon/components/layouts/containers";
@import "csscommon/components/layouts/responsive-visibility";
@import "csscommon/components/common/navtoggle";
@import "csscommon/components/common/drawers";
@import "csscommon/components/print";
@import "csscommon/components/mixins/common";

/* ----------------------------------------------------------
  Project
---------------------------------------------------------- */

@import "project/_base.scss";
@import "project/_loops.scss";
@import "project/_sidebar.scss";
@import "project/_templates.scss";
@import "project/_comments.scss";
