@charset "UTF-8";

/* ----------------------------------------------------------
  Base
---------------------------------------------------------- */

html,
body {
    font: 13px/1.3 $font-main;
}

/* ----------------------------------------------------------
  Header
---------------------------------------------------------- */

.main-header {
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.header-search {
    margin-bottom: 10px;
}

.header__social a,
.header__social li {
    display: inline-block;
    line-height: 20px;
}

.header__social li {
    margin-right: 10px;
}

@media(min-width:960px) {
    .header__social {
        float: right;
    }

    .header__social li {
        margin-right: 0;
        margin-left: 10px;
    }

    .header-search {
        z-index: 1;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: 220px;
        min-width: 250px;
        text-align: right;
    }
}

/* ----------------------------------------------------------
  Menu
---------------------------------------------------------- */

.main-menu__wrapper {
    @extend %cssc-desktop-menu__wrapper;
    @extend %cssc-mobile-menu-down__wrapper;
}

.main-menu {
    @extend %cssc-desktop-menu;
    @extend %cssc-mobile-menu-down;
}

.main-menu > .menu-item {
    @extend %cssc-desktop-menu__first_level;
    @extend %cssc-mobile-menu-down__first_level;
}

.main-menu > .menu-item > .sub-menu {
    @extend %cssc-desktop-menu__submenu;
    @extend %cssc-mobile-menu-down__submenu;
}

@media($has_desktop_menu) {
    .nav-toggle,
    .main-menu .btn-toggle {
        display: none;
    }
}

@media($has_mobile_menu) {
    .main-menu > .menu-item {
        z-index: 1;
        position: relative;
    }

    .main-menu > .menu-item .btn-toggle {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        background-color: #ccc;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    .main-menu > .menu-item.is-active .btn-toggle {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/* ----------------------------------------------------------
  Main Container
---------------------------------------------------------- */

.main-container {
    margin-bottom: 20px;
    overflow: auto;
}

/* ----------------------------------------------------------
  Breadcrumbs
---------------------------------------------------------- */

.breadcrumbs {
    padding-bottom: 10px;
    font-size: 0;
}

.breadcrumbs li {
    display: inline-block;
    font-size: 12px;
    vertical-align: 0;
}

.breadcrumbs li + li:before {
    content: '›';
    margin: 0 5px;
}

/* ----------------------------------------------------------
  Content
---------------------------------------------------------- */

article .cssc-content {
    min-height: 1px;
    overflow: hidden;
}

.wp-caption {
    margin-bottom: 10px;
    max-width: 100%;
}

.main-pagination {
    margin: 20px 0;
    text-align: center;
}

/* ----------------------------------------------------------
  Footer
---------------------------------------------------------- */

.main-footer {
    padding: 20px;
    border-top: 1px solid #f0f0f0;
    color: #aaa;
}

.main-footer--credits {
    float: right;
}

@media(max-width:600px) {
    .main-footer--credits {
        display: block;
        float: none;
    }
}

/* ----------------------------------------------------------
  Header
---------------------------------------------------------- */

.banner .wdrw {
    .submenu {
        padding: 1em;
        border: 1px solid;
        background-color: #fff;
    }
}
